//<ОБЩИЕ СТИЛИ>==================================

// убираем плавно placeholder
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

// BTN *********************
.btn {
  display: inline-block;
  background-color: #FEB447;
  border-radius: 20px;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 32px;
  @media (max-width: $mobile) {
    font-size: 28px;
  }
  @media (max-width: $sm) {
    text-align: center;
  }
}
