
append content
    include ./block-01
    include ./block-02
    include ./block-03-slider
    include ./block-04
    include ./block-05
    include ./block-06
    include ./block-07
    include ./block-08
    include ./block-09-slider
    include ./block-10

    
    