//- languages
- var lang = 'ru'

//- current URL page
- var currentURL = '#' 
//-1 -> a.nav-link(href="index.html" class=currentURL == 'index.html' ?  'active' : '')
//-2 -> a.nav-link(href="index.html" class={active : currentURL == 'index.html'}) - короче

//- header
- var title = ''

//-description
- var desc = ''

//- work paths
- var csspath = './css'
- var jspath = './js'

//- Google Fonts
- var gfonts = 'Montserrat:wght@400;600;700;900' // 'Roboto:wght@400;500;700'
  //- gfonts += '|PT+Sans' если нужно добавить доп.шрифт к существующему 

//- Bootstrap5
- var bootstrap = false

//- Slider Swipper
- var slider = false

//- Font Awesome
- var fawesome = false