footer.footer
  .container-small 
    a(href="#").footer-logo 
      img(src="../../img/footer/logo.svg", alt="")
      span data.rar
    .footer-text Остались вопросы? Мы всегда на связи:

    .footer-buttons
      .footer-buttons-social
        ul
          li
            a(href="#")
              img(src="../../img/footer/01.svg", alt="") 
          li
            a(href="#")
              img(src="../../img/footer/02.svg", alt="") 
          li
            a(href="#")
              img(src="../../img/footer/03.svg", alt="") 
          li
            a(href="#")
              img(src="../../img/footer/04.svg", alt="") 
          li
            a(href="#")
              img(src="../../img/footer/05.svg", alt="") 
          li
            a(href="#")
              img(src="../../img/footer/06.svg", alt="") 
        .footer-buttons-politic Политика конфендиальности<br>© Data.rar 2019

      .footer-buttons-call
        .footer-buttons-call-btn.btn Заказать звонок
        ul.footer-menu
          li
            a(href="#").footer-menu-link Программа курса
          li
            a(href="#").footer-menu-link  Преимущества
          li
            a(href="#").footer-menu-link Цена
          li
            a(href="#").footer-menu-link О компании
          li
            a(href="#").footer-menu-link Отзывы
          li
            a(href="#").footer-menu-link Контакты