.container
  header.header
    .header-logo
      a(href="/").header-logo-link
        img(src="../../img/header/logo-icon.svg", alt="logo")
        span data.rar 

    nav.header-nav
      ul.header-menu
        li.header-link
          a(href="#program") Программа курса
        li.header-link
          a(href="#advantages") Преимущества
        li.header-link
          a(href="#price") Цена
        li.header-link
          a(href="#comments") Отзывы
        li.header-link
          a(href="#contacts") Контакты
    .icon-menu 
      span 
      span 
      span
  