.container
  header.header
    .header-logo
      a(href="/").header-logo-link
        img(src="../../img/header/logo-icon.svg", alt="logo")
        span data.rar 

    nav.header-nav
      ul.header-menu
        li.header-link
          a(href="#") Программа курса
        li.header-link
          a(href="#") Преимущества
        li.header-link
          a(href="#") Цена
        li.header-link
          a(href="#") Отзывы
        li.header-link
          a(href="#") Контакты