.container-small 
  .block04-title.title В этом году мы разработали систему интенсивного обучения, которая позволит вам освоить все 6 навыков за 12 часов.
  .block04-subtitle Плохая новость в том, что обычные и онлайн курсы <br> по data science растянуты на много недель, а их<br> стоимость начинается от 30 тысяч рублей 
  img(src="../../img/block-04/smile.png", alt="").block04-smile
.container 
  .block04-images 
    .block04-image
      .block04-img
        img(src="../../img/block-04/img1.png", alt="img1")
      .block04-text Но там куча теории...
    .block04-image
      .block04-img
        img(src="../../img/block-04/img2.png", alt="img2")
      .block04-text И нет гарантии, что вы получите знания