.container-about
  .block-08 
    .block-08-title О компании
    .block-08-subtitle Мы — команда, создающая новый формат курсов
    .block-08-text Мы упаковываем сложный материал в 12-ти часовые интенсивы. Специализируемся на новых профессиях эры цифровизации и искусственного интеллекта.  
    .block-08-techers.block-08-subtitle Наши преподаватели

    .block-08-items 
      .block-08-item
        .block-08-item-img  
          img(src="../../img/block-08/01.png", alt="01")
          .block-08-item-name Булат <span>Шканов</span>
        ul.block-08-item-text 
          li Более 4 лет опыта в машинном обучении
          li Работает в Московском кредитном банке
      .block-08-item
        .block-08-item-img  
          img(src="../../img/block-08/02.png", alt="02")
          .block-08-item-name Александр<span>Глотов</span>
        ul.block-08-item-text 
          li 6 лет работы с фрилансерами
          li Более 3-х лет работы в консалтинге и аналитик
          li Владелец компании ....ru
.container-forma
  form(action="#", method="post").block-08-forma 
    .block-08-forma-title.title Оставьте заявку и мы вам перезвоним

    .block-08-for
      input(type="text", name="name2" placeholder="Имя").block-08-forma-name
      input(type="text", name="phone2" placeholder="Телефон").block-08-forma-phone
      input(type="button", name="submit" value="Отправить").block-08-forma-btn.btn
      .block-08-forma-soc
        a(href="#")
          img(src="../../img/block-08/social1.svg", alt="1") 
        a(href="#")
          img(src="../../img/block-08/social2.svg", alt="2") 
        a(href="#")
          img(src="../../img/block-08/social3.svg", alt="3")  


