.container-small
  .block02-title.title Как Вы считаете, сможете ли Вы стать data scientist за 12 часов, освоив эти 6 навыков?
  .block02-items 
    .block02-item
      .block02-item-icon 
        img(src="../../img/block-02/icon1.svg", alt="01")
      .block02-item-text Обработка данных<br> и извлечение признаков
    .block02-item
      .block02-item-icon 
        img(src="../../img/block-02/icon2.svg", alt="02")
      .block02-item-text Классификация
    .block02-item
      .block02-item-icon 
        img(src="../../img/block-02/icon3.svg", alt="03")
      .block02-item-text Кластеризация
    .block02-item
      .block02-item-icon 
        img(src="../../img/block-02/icon4.svg", alt="04")
      .block02-item-text Построение<br> регрессионных<br> моделей
    .block02-item
      .block02-item-icon 
        img(src="../../img/block-02/icon5.svg", alt="05")
      .block02-item-text Ранжирование
    .block02-item
      .block02-item-icon 
        img(src="../../img/block-02/icon6.svg", alt="06")
      .block02-item-text Сокращение<br> размерности