.container-forma#comments
  .block-09-title.title Отзывы
  .block-09-slider.swiper-container
    .block-09-slider-body.swiper-wrapper
      .block-09-slide.swiper-slide
        .block-09-slide-img
          img(src="../../img/block-09/face.png", alt="")
        .block-09-slide-text Сына отправил в эту школу для изучения английского языка. В первый же день, он пришел с улыбкой на лице и сказал: “Я хочу там всегда учиться”. Мы с женой обрадовались, так как сын увлекся иностранным языком. Сейчас свободно общается.
        .block-09-slide-author Даниил Козловский

      .block-09-slide.swiper-slide
        .block-09-slide-img
          img(src="../../img/block-09/face.png", alt="")
        .block-09-slide-text Взял тариф “Любитель”. Полностью прошел курс. Получил огромный опыт. К каждому студенту был персональный подход. Мог удаленно сдавать работы, просматривать лекции, если вдруг не пришел на занятие. Потрясающая школа!
        .block-09-slide-author Евгений Иванов

      .block-09-slide.swiper-slide
        .block-09-slide-img
          img(src="../../img/block-09/face.png", alt="")
        .block-09-slide-text В школе изучала английский. Неожиданно для себя решила изучить немецкийю. Подошел курс “новичок”, в котором было все для того, чтобы за месяц изучить этот язык базово. Буду брать еще курс для того, чтобы свободно общаться на немецком. Спасибо этой школе!
        .block-09-slide-author Александра Кирьянова

      .block-09-slide.swiper-slide
        .block-09-slide-img
          img(src="../../img/block-09/face.png", alt="")
        .block-09-slide-text Изучал и в школе и в универе английский язык, так получилось, что нужно было подтянуть, но из всех тарифных планов, мне ничто не подошло, тогда я воспользовался калькулятором и создал свой тариф, в котором внес те услуги, которые мне нужны. 
        .block-09-slide-author Руслан Князьев
    .block-09-slider-dots