.wrapper-01
  .container
    h1.block01-header Как за 12 часов стать начинающим data scientist и научиться зарабатывать на своих навыках? 
    h4.block01-subheader Как за 12 часов стать начинающим data scientist и научиться зарабатывать на своих навыках? 

    .block01-advantages
      .block01-adv
        .block01-adv-icon
          img(src="../../img/block-01/icon1.svg", alt="01")
        .block01-adv-text Начните зарабатывать на <br> следующий день после курса
      .block01-adv
        .block01-adv-icon
          img(src="../../img/block-01/icon2.svg", alt="01")
        .block01-adv-text Поможем найти работу<br> в офисе и на фрилансе
      .block01-adv
        .block01-adv-icon
          img(src="../../img/block-01/icon3.svg", alt="01")
        .block01-adv-text Сэкономьте своё время —  за день получите то же, что на трёхмесячном курсе обучения
      
    .block01-start Начало курса:<br> 11 мая, 9:00 – 21:00
    .block01-btn.btn Забронировать