.container-kurs
  .container
    .block-07#program
      .block-07-title Структура курса
      .block-07-subtitle Программа курса кажется сложной, <br>  но мы разделили ее на 7 простых блоков
      .block-07-items 
        .block-07-item
          .block-07-item-num 01
          .block-07-item-img
            img(src="../../img/block-07/icon1.svg", alt="1")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#FEB447")
          .block-07-item-text Первичный анализ данных
        .block-07-item
          .block-07-item-num 02
          .block-07-item-img
            img(src="../../img/block-07/icon2.svg", alt="2")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#FE840E")
          .block-07-item-text Процесс машинного обучения
        .block-07-item
          .block-07-item-num 03
          .block-07-item-img
            img(src="../../img/block-07/icon3.svg", alt="3")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#C81F56")
          .block-07-item-text Классификация
        .block-07-item
          .block-07-item-num 04
          .block-07-item-img
            img(src="../../img/block-07/icon4.svg", alt="4")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#F06C46")
          .block-07-item-text Ансамбли
        .block-07-item
          .block-07-item-num 05
          .block-07-item-img
            img(src="../../img/block-07/icon5.svg", alt="5")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#FE840E")
          .block-07-item-text Регрессия 
        .block-07-item
          .block-07-item-num 06
          .block-07-item-img
            img(src="../../img/block-07/icon6.svg", alt="6")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#FEB447")
          .block-07-item-text Поиск структуры <br>в данных
        .block-07-item
          .block-07-item-num 07
          .block-07-item-img
            img(src="../../img/block-07/icon7.svg", alt="7")
          .block-07-item-circle
            svg(width="66" height="127" viewBox="0 0 66 127" fill="none")
              path(d="M-11.5696 126.32C-26.6742 123.609 -39.6847 110.351 -50.2744 95.5412C-60.8466 80.7556 -68.9739 64.4007 -67.1171 49.079C-65.2603 33.7573 -53.4063 19.3853 -39.1707 10.6926C-24.9175 2.02387 -8.29361 -1.03139 7.69483 1.21731C23.7009 3.49005 39.0298 11.0604 49.9116 23.5876C60.7934 36.1149 67.2039 53.6167 64.4633 69.4012C61.7161 85.2274 49.7761 99.33 35.2484 110.305C20.679 121.274 3.52846 129.073 -11.5696 126.32Z" fill="#FEB447")
          .block-07-item-text Ещё ближе к земле
        .block-07-item-finish
          .block-07-item-finish-title Финиш
          .block-07-item-finish-text Вы становитесь специалистом <br>и получаете<br> от нас сертификат!
          .block-07-item-finish-cup 
            img(src="../../img/block-07/cup-only.png", alt="cup")