.container-small 
  .block06-title <span class="block06-title-usual">Обычный курс</span>  vs.  <span class="block06-title-our">Наш курс</span>

  .block-06-compare#price
    .block-06-usual
      .block-06-usual-item
        .block-06-usual-img1.block-06-usual-img
        .block-06-usual-text Собирать знания<br> в течение года   
      .block-06-usual-item
        .block-06-usual-img2.block-06-usual-img
        .block-06-usual-text Много теории и сухих <br>теорем 
      .block-06-usual-item
        .block-06-usual-img3.block-06-usual-img
        .block-06-usual-text Время, которые вы потратите только на дорогу - 12 часов  
      .block-06-usual-item
        .block-06-usual-img4.block-06-usual-img
        .block-06-usual-text Каждый день занятий Вы оплачиваете аренду помещения и оборудования, а также платите за время, которое преподаватели провели в дороге  
      .block-06-usual-item 
        .block-06-usual-img5.block-06-usual-img
        .block-06-usual-text Вы сможете начать зарабатывать не раньше окончания курса, минимум через месяц   
      .block-06-price-sm Обычный курс
        .block-06-price-sm-text
          span.block-06-price-sm-num 46 000
          span.block-06-price-sm-rub руб.

    .block-06-our 
      .block-06-our-item
        .block-06-our-img
          img(src="../../img/block-06/1a.png", alt="1a")
        .block-06-our-text Сфокусировать усилия
      .block-06-our-item
        .block-06-our-img
          img(src="../../img/block-06/2a.png", alt="2a")
        .block-06-our-text Берём из теории только самое нужное и переходим к практике 
      .block-06-our-item
        .block-06-our-img
          img(src="../../img/block-06/3a.png", alt="3a")
        .block-06-our-text Время, которое вы потратите на всё обучение — 12 часов
      .block-06-our-item
        .block-06-our-img
          img(src="../../img/block-06/4a.png", alt="4a")
        .block-06-our-text Проведение курса в один день позволяет снизить издержки для нас и цену для Вас 
      .block-06-our-item
        .block-06-our-img
          img(src="../../img/block-06/5a.png", alt="5a")
        .block-06-our-text Вы начнёте зарабатывать и окупать стоимость обучения уже на следующий день. Мы научим Вас искать работу <br>и подработку 
      .block-06-price-bg КУРС Data.rar
        .block-06-price-bg-text
          span.block-06-price-bg-num 14 990
          span.block-06-price-bg-rub руб.

.container
  .block-06-form-body
    .block-06-form-title Начало курса:<br> 11 мая, 9:00 – 21:00
    .block-06-form-subtitle Подайте заявку сейчас!
    form(action="#", method="post").block-06-form
      input(type="text", name="name" placeholder="Имя").block-06-form-name
      input(type="text", name="phone" placeholder="Телефон").block-06-form-phone
      input(type="button", value="Забронировать").block-06-form-btn.btn

  .block-06-discount
    .block-06-discount-friend
      .block-06-discount-friend-body
        .block-06-discount-friend-img
            img(src="../../img/block-06/friend.png", alt="friend")
        .block-06-discount-friend-percent
          .block-06-discount-friend-text -10%
          .block-06-discount-friend-span Приведи друга — <br>оба получите 10% скидку!
      .block-06-discount-friend-btn.btn Пригласить друга

    .block-06-discount-repost
      .block-06-discount-friend-body
        .block-06-discount-repost-img
          img(src="../../img/block-06/repost.png", alt="repost")
        .block-06-discount-friend-percent
          .block-06-discount-repost-text -5%
          .block-06-discount-repost-span Сделай репост — <br>получи 5% скидку! 
      .block-06-discount-repost-btn.btn Сделать репост
