.container-big
  .container-small
    .block05-title.title Поэтому мы решили сделать обучение<br> удобным, доступным и выгодным для<br> каждого и упаковали знания<br> в интенсивный курс, который позволит Вам:

  .block05-box 
    .block05-box-img  
      img(src="../../img/block-05/box.png", alt="")
    .block05-box-list
      .block05-box-list-item
        .block05-box-list-item-icon 
          img(src="../../img/block-05/icon1.svg", alt="1")
        .block05-box-list-item-text Потратить минимум денег и времени
      .block05-box-list-item
        .block05-box-list-item-icon 
          img(src="../../img/block-05/icon2.svg", alt="2")
        .block05-box-list-item-text Научиться искать работу под новые навыки
      .block05-box-list-item
        .block05-box-list-item-icon 
          img(src="../../img/block-05/icon3.svg", alt="3")
        .block05-box-list-item-text Начать зарабатывать на следующий день после курса

  .block05-ipad 
    .block05-ipad-title.title На нашем курсе вы освоите все<br> необходимые навыки за 12 часов<br> благодаря
    img(src="../../img/block-05/ipad.png", alt="ipad").block05-ipad-img
    .block05-ipad-list
      .block05-ipad-item
        .block05-ipad-item-title Адаптации<br> для новичков
        .block05-ipad-item-text Все курсы адаптированы под новичков, <br>не имеющих опыта программирования
      .block05-ipad-item
        .block05-ipad-item-title Ориентации<br> на практику
        .block05-ipad-item-text По окончании курса студенты станут самостоятельными разработчиками
      .block05-ipad-item
        .block05-ipad-item-title Интенсивному обучению
        .block05-ipad-item-text Самый необходимый материал в максимально сжатые сроки
  
  .container-small  
    .block05-sertificate 
      .block05-sertificate-img
        img(src="../../img/block-05/sertif.png", alt="sertificate")
      .block05-sertificate-info
        .block05-sertificate-title.title И получите сертификат
        .block05-sertificate-text.block05-ipad-item-text Добавьте его к своему резюме <br> и претендуйте на более престижную должность
        .block05-sertificate-btn.btn Забронировать
    