.container-slider 
  .block03-title Вакансии data scientist
  .block03-slider 
    .block03-slider-container
      .block03-slide
        .block03-slide-hh
          img(src="../../img/block-03-slider/icon-hh.svg", alt="hh")
        .block03-info
          .block03-slide-title Data Scientist
          .block03-slide-price до 400 000 руб.  
        .block03-slide-employer 
          img(src="../../img/block-03-slider/emp-mobil.png", alt="mobil")
      .block03-slide
        .block03-slide-hh
          img(src="../../img/block-03-slider/icon-hh.svg", alt="hh")
        .block03-info
          .block03-slide-title Data scientist /Project manager
          .block03-slide-price до 400 000 руб. 
        .block03-slide-employer 
          img(src="../../img/block-03-slider/emp-brunel.png", alt="brunel")
      .block03-slide
        .block03-slide-hh
          img(src="../../img/block-03-slider/icon-hh.svg", alt="hh")
        .block03-info
          .block03-slide-title Руководитель направления
          .block03-slide-price от 200 000 руб.  
        .block03-slide-employer 
          img(src="../../img/block-03-slider/emp-sber.png", alt="sber")
      .block03-slide
        .block03-slide-hh
          img(src="../../img/block-03-slider/icon-hh.svg", alt="hh")
        .block03-info
          .block03-slide-title Специалист <br> Big data
          .block03-slide-price от 300 000 руб. 
        .block03-slide-employer 
          img(src="../../img/block-03-slider/emp-island.png", alt="island")
      .block03-slide
        .block03-slide-hh
          img(src="../../img/block-03-slider/icon-hh.svg", alt="hh")
        .block03-info
          .block03-slide-title Data Scientist
          .block03-slide-price от 300 000 руб.  
        .block03-slide-employer 
          img(src="../../img/block-03-slider/emp-region.png", alt="region")
      .block03-slide
        .block03-slide-hh
          img(src="../../img/block-03-slider/icon-hh.svg", alt="hh")
        .block03-info
          .block03-slide-title Data scientist /Project manager
          .block03-slide-price до 400 000 руб.
        .block03-slide-employer 
          img(src="../../img/block-03-slider/emp-brunel.png", alt="brunel")
  .container-small
    .block03-btn.btn Освоить эти 6 навыков